* {
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

/* Estilo para el botón de búsqueda */
.boton-buscar {
  background-color: #f0f0f0;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

/* Estilo para el triángulo hacia abajo */
.triangulo {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  position: relative;
  top: 10px;
  right: 5px;
}

/* Aplica el triángulo al encabezado de la columna */
th {
  position: relative;
  background-color: #D5D8DC;
  line-height: 20px;
  border: 2px solid black;
}

th::before {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  left: -10px;
}

/* Estilo para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 2px solid black;
}

/* Estilo para las celdas */
th, td {
  padding: 8px;
  border: 1px solid black;
  text-align: left;
}

/* Estilo para las filas grises */
.fila-gris {
  background-color: #f2f2f2;
}

/* Estilo para las filas blancas */
.fila-blanca {
  background-color: #fff;
}
